*.py[cod]
*.iml
helloworld.conf
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
logs
.idea
helloworld.log
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
*.db
*.bk
